/* DESIGN CREATED BY AVINASH SINGH*/
/*MAIN CONTAINER WHICH CONTAINS ALL DIVISIONS */
@font-face {
        font-family: batman;
        src: url("fonts/batman.ttf");
        
    }
body {
    margin: 0;
}
.container {
    width:  100%;
    height: 100%;
    background-color: #80b3ff;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------HEADER STARTS HERE -------------------------------------------------------------------- */
/* THE MAIN HEADER */
.header {
    width: 100%;
    background-color: #3b70f9;
    height: 35vmin;
    margin: 0;
    position: relative;
    box-shadow: 0 5px 15px #000;
}
/* CONTAINS LOGO, BRAND NAME, TAGLINE */
.topleft {
    width: 60%;
    position: absolute;
    left: 1%;
    top: 10%;
}
/* CONTAINS BRAND LOGO*/
.brandlogo {
     width: 30%;
    height: 15%;
    float: left;
}
/* CLASS OF LOGO IMAGE */
.logo {
   width: 80%;
    height: 80%;
}
/* CONTAINS BRAND NAME AND TAG LINE */
.branddiv {
    width:  30vw;
    height: 10vh;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}
@font-face {
    font-family:new;
    src: url(fonts/skinned.ttf);
}
 /* DIV OF BRAND NAME */
.brandname {
    font-size: 3vw;
    font-family: new;
    color: white;
    text-shadow: 2px 2px 2px #000;
}
/* DIV OF TAG LINE */
.tagline {
    font-size: 3vmin;
    color: white;
    margin-left: 80%;
    width: 83%;
}
/* CONTAINS SIGNUP , LOGIN */
.topright {
    float: right;
    padding: 1vw;
    display: inline;
    width: 20vw;
    position: absolute;
    right: 0;
}

/* SHAKE ANIMATION */
@keyframes shake {
    0% { transform: translate(2px, 1px);}
    10% { transform: translate(-1px, -2px);}
    20% { transform: translate(-3px, 0px);}
    30% { transform: translate(0px, 2px);}
    40% { transform: translate(1px, -1px);}
    50% { transform: translate(-1px, 2px);}
    60% { transform: translate(-3px, 1px);}
    70% { transform: translate(2px, 1px);}
    80% { transform: translate(-1px, -1px);}
    90% { transform: translate(2px, 2px);}
    100% { transform: translate(1px, -2px);}
    
}

/* LOGIN DIV */
.logindiv {
    background-color: #0054a6;
    color: #ffffff;
    margin: 0.8vh 0 0.8vh 1vw;
    float: right;
    text-align: center;
    padding: 1vh 1.5vw;
    font-size: 1.5vw;
    border-radius:20vw;
    -moz-border-radius:20vw;
    -o-border-radius:20vw;
    -ms-border-radius:20vw;
    -webkit-border-radius:20vw;
    text-decoration: none;
     animation-name: shake;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 2px 2px 5px #000;
}
/* SIGNUP LOGIN HOVER */
.signupdiv:hover , .logindiv:hover {
    
    animation: none;
}
.text {
    font-size: 3vmin;
}
/* CONTAINS NAVIGATION LINKS */
.navbar {
    width: 85vw;
    float: left;
    position: absolute;
    bottom: 0;
    left: 5%;
    top: 70 %;
  
}

/* LIST OF NAVBAR */
.navbar li {
    list-style-type: none;
    display: inline;
    font-size: 1.2vw;
    padding: 0.8vw;
    font-family: batman;
    
}
/* NAVBAR LIST HOVER */
.navbar li:hover {
    background-color: #0054a6;
}
/* NAVBAR LINKS */
.navbar a {
    color: white;
    text-decoration: none;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------- CONTENT STARTS HERE ---------------------------------------------------------------- */
.content {
    width: 100%;
    height: 100%;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* UPPER CONTENT BOX */
.uppertext {
   margin: 2vh 0;
   background-color: #80b3ff;
   padding: 2% 0.4%;
   width: 99.2%;

    
}
/* FIRST IMAGE DIV */
.img1 {
    width: 5vw;
    float: left;
    margin-left: 10vw;
    margin-top: 1vh;
}
/* FIRST IMAGE CLASS */
.familypic {
    width: 70%;
    height: 70%;
}
/* TEXT 1 DIV */
.text1 {
    width: 45%;
    height: 45%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5vh;
    text-align: center;
    color: #ffffff;
    font-size: 1.5vw;
}
input::-webkit-input-placeholder {
    color: #5d5b5b;
}
.box {
    border-radius: 2vw;
    border: none;
    color: #3b70f9;
    background-color: lightblue;
    padding: 1%;
    text-align: center;
    width: 30%;
    outline: none;
}
.box:hover {
    box-shadow: 0px 0px 5px #000;
}
.box:focus {
    box-shadow: 0px 0px 5px #000;
}
.submitbutton {
    background-color: #3b70f9;
    margin: 2% auto;
    padding: 1% 1%;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: #fff;
    outline: none;
    width: 20%;
    border: none;
}
.submitbutton:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #000;
}
.familyheading {
    font-size: 3vw;
}
.link1 {
    text-decoration: none;
    border-radius: 2vw;
    color: #fff;
    font-size: 2vw;
    box-shadow: 0px 0px 5px #000;
    padding: 1% 3%;
}
.link1:hover {
    background-color: #3b70f9;
}
.familyname {
    margin: 2%;
    font-size: 2vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- FOOTER STARTS HERE--------------------------------------------------------------------------- */
.footer {
    background-color: #5d5b5b;
    margin-top: 0.5%;
    width: 100%;
    box-shadow: 0 5px 15px #000 inset;
}
.social {
    padding:1% 0;
    width: 90%;
    text-align: center;
    
}
.iconlist {
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0;
    
}
.iconlist li {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    margin: 0 1vw;
}
.iconlist a:hover {
    opacity: 0.5;
    
}
.icon {
    width: 3vw;
}

.copyright {
    
    text-align: center;
    width: 94vw;
    padding: 1vw 2vw;
    color: #ffffff;
    font-size: 1.2vw;
}   
.copytextlink {
    color: #ffffff;
     text-align: center;
    text-decoration: none;
    padding: 0.5vw;
    border-radius: 4vmin;
    -webkit-border-radius: 4vmin;
    -moz-border-radius: 4vmin;
    -o-border-radius: 4vmin;
    -ms-border-radius: 4vmin;
    
}
.copytextlink:hover {
    background-color: #3b70f9;
}